:root {

    /* main text */
    --main-font: "roboto";
    --secondary-font: "raleway";

    /* main colors */

    --main-title-cl: #212121;
    --main-text-cl: #757575;
    --btn-hover-focus-bgd: #2196F3;
    --background: #ffffff;
    --hero-footer-bcg: #2F303A;
    --team-bcg: #F5F4FA;
    --hero-title-cl: #ffffff;
    --footer-logo: #ffffff;
    --footer-link-cl: #ffffff;
    --header-svg: #757575;
    --benefits-svg: #212121;
    --social-team-link: #AFB1B8;
    --footer-social-icon: #ffffff;
    --footer-social-bcg: rgba(255, 255, 255, 0.1);

}