.logo {
    padding: 24px 0 25px 0;
    margin-right: 93px;
    ;
    text-decoration: none;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}

.logoa {
    color: #2196F3;
    font-family: var(--secondary-font);
}

.logob {
    color: var(--main-title-cl);
    font-family: var(--secondary-font);
}